* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(240, 237, 237);
    padding: 10px;
    /* display: flex; */
    justify-content: between;
    
}
.logo {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    
    
}
.logo:hover {
    color: #00aaff;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    /* justify-content: between; */
    color: white;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    color: rgb(58, 56, 56);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #00aaff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color:rgb(83, 82, 82);
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
}

#menu-checkbox {
    display: none;
    
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color:rgb(243, 236, 236);
        padding-top: 60px;
    }

    #menu-checkbox:checked ~ .nav-list {
        display: flex;
    }

    .nav-list li {
        margin: 20px 0;
        text-align: center;
    }

    .nav-list a {
        font-size: 20px;
    }
}